@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f3b57d;
  overflow: hidden;

}

.body::after{
  background: #f3b57d;
}
::selection {
  background: #ecc5a0;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  height: 120px;
  background: #ec994f;
    border-radius: 25px 25px 0 0 ;

  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form {
  padding: 25px 35px;
}
.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all 0.3s ease;
}
form .row input:focus {
  border-color: #f3b57d;
}
form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #f3b57d;
  border: 1px solid #f3b57d;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass {
  margin-top: 12px;
}
.wrapper form .pass a {
  color: #f3b57d;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;

  background: #eea05c;
  border: 1px solid #eea05c;
  cursor: pointer;
}
form .button input:hover {
  background: #eea05c;
}
.wrapper form .signuplink {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}
.wrapper form .signuplink a {
  color: #eea05c;
  text-decoration: none;
}
form .signuplink a:hover {
  text-decoration: underline;
}

.btncenter{
	text-align: center;
	margin-bottom: 20px;
  margin-top: 100px;

}
.btnnewgreen {
    text-align: center;
    transition: 0.5s;
	 min-width: 100px;
	min-height: 30px;
    background-size: 200% auto;
	margin-left: 20px;
	margin-right: 20px;
    color: white;
    border-radius: 10px;
	border: 0;
    background-image: linear-gradient(to right, #c57600 0%, #f6900b 51%, #c58d00 100%);
}

.btnnewgreen:hover {
     background-position: right center;
}

.alingcenter{
	padding-top: 20px;
	display: flex;
  justify-content: center;
}